@import url('https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap');

body, html {
    margin: 0 auto;
    height: 100%;
}

#particle-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#resume-container {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(245, 3, 234, 0.2);
    overflow: auto;
}

#skills, 
#education, 
#experience, 
#projects {
    padding: 40px;
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(204, 204, 204, 0.5);
    text-align: left;
    border-right: 10px solid black;
    border-left: 10px solid black;
}

#skills {
    border-radius: 50px 50px 0px 0px;
}

#projects {
    border-radius: 0px 0px 50px 50px;
}

h1 {
    font-size: 5em;
    color: pink;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 3em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Merriweather', serif; 
    text-transform: uppercase;
    color: aquamarine;
}

li {
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

p {
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

#social-icons {
    margin-bottom: 100px;
}

i:not(last) {
    margin-right: 50px;
}

i:hover {
    -moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

a {
    color: hotpink;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}